<div class="col-md-4" id="col1-modificar" hidden>
    <div id="data-pelicula-modificar">
        <div class="row-md-4" id="row1-modificar"><label id="lbl-titulo-modificar">{{tituloPelicula}}</label></div>
        <div class="row-md-4" id="row2-modificar"><img id="card-img-modificar" src="../../../assets/assets-peliculas/365-dias.jpg"></div>
        <div class="row-md-4" id="row3-modificar"><label id="lbl-descripcion-modificar">{{descripcionPelicula}}</label></div>
        <div class="row-md-4" id="row4-modificar">Tipo: <label id="lbl-tipo-modificar">{{tipoPeliculaDetalle}}</label></div>
        <div class="row-md-4" id="row5-modificar">Fecha estreno: <label id="lbl-fechaEstreno-modificar">{{fechaEstreno}}</label></div>
        <div class="row-md-4" id="row6-modificar">Cantidad publico: <label id="lbl-cantidadPublico-modificar">{{cantidadPublico}}</label></div> 
    </div>
    <button id="btn-modificar"> M O D I F I C A R </button>
</div>
<label id="lbl-mensaje-temporal-modificar">Ninguna película fue seleccionada. Haga click en una para mostrarla.</label>