
<app-tabla-pelicula></app-tabla-pelicula>

<div class="p-4 p-md-5 mb-4 rounded text-bg-dark" id="contenedor-absoluto">

    <div id="contenedor-peliculas">
        <div class="row">

            <div class="col-md-4" id="row1">
                    <h1 class="display-4 fst-italic" id="titulo-principal">Borrar</h1>
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                           
                           <app-eliminar-pelicula></app-eliminar-pelicula>

                        </div>
                    </div>
            </div>
            
            <div class="col-md-4" id="row2">
                <h1 class="display-4 fst-italic" id="titulo-principal">Mostrar</h1>
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        
                        <app-detalle-pelicula></app-detalle-pelicula>
                    
                    </div>
                </div>
            </div>

            <div class="col-md-4" id="row3">
                <h1 class="display-4 fst-italic" id="titulo-principal">Modificar</h1>
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">

                        <app-modificar-pelicula></app-modificar-pelicula>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
