
    
   
<div class="p-4 p-md-5 mb-4 rounded text-bg-dark" id="contenedor-absoluto">

    <h1 class="display-4 fst-italic" id="titulo-principal">Catálogo de películas</h1>

    <div id="contenedor-peliculas">
        <div class="row">

            <div class="col-md-4" id="row1">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                        <ul>
                            <li class="pelicula-item" *ngFor="let pelicula of peliculasColumn1; let i = index">
                                <label class="pelicula-nombre">{{pelicula.nombre}}</label>
                                <br>
                                <img (click)="peliculaClickeada(pelicula)" class="pelicula-img" src={{pelicula.fotoPelicula}} alt="Foto de pelicula" width="100%" height="100%">  
                            </li>
                        </ul>
                  </div>
                </div>
            </div>
            
            <div class="col-md-4" id="row2">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                        <ul>
                            <li class="pelicula-item" *ngFor="let pelicula of peliculasColumn2; let i = index">
                                <label class="pelicula-nombre">{{pelicula.nombre}}</label>
                                <br>
                                <img (click)="peliculaClickeada(pelicula)" class="pelicula-img" src={{pelicula.fotoPelicula}} alt="Foto de pelicula" width="100%" height="100%">  
                            </li>
                        </ul>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>


